@media screen and (max-width: 767px) {

    table td:before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .container-wrap {
        padding:0px;
    }
}
